<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:title) %><%= content_for?(:subtitle) ? " - #{yield(:subtitle)}" : "" %> </title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
    <%= stylesheet_link_tag    "application"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body style="padding-top: 50px;">
    <div class="topbar">
      <%= render :partial => 'toolbar' %>
    </div>

    <div class="container">
      <%= yield %>

      <footer>
        <p>&copy; <%= t(:footer) %></p>
      </footer>
    </div>
  </body>
</html>
