<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:title) %><%= content_for?(:subtitle) ? " - #{yield(:subtitle)}" : "" %> </title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
    <%= stylesheet_link_tag    "application"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body style="padding-top: 50px;">
    <div class="topbar">
      <div class="fill">
        <div class="container fixed">
          <h3><a href="#">StatsFoundary</a></h3>
          <ul class="nav secondary-nav">
            <li>
               <%= content_for?(:nav) ? yield(:nav) : link_to("Sign in", new_session_path) %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>

      <footer>
        <p>&copy; StatsFoundry.com 2011</p>
      </footer>
    </div>
  </body>
</html>
